body {
  margin: 0;
  padding: 0;
}

#font-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2em;
}

.amount {
  font-weight: bold;
}

#calculator-screen {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0.5em;
}

#calculator-screen > div {
  background-color: #96e4a3;
  border: 1px solid black;
  padding: 0.3em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

.grid-container > button {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

#keys-c {
  grid-column-end: span 1;
  background-color: orange;
}
