body {
  margin: 0;
  padding: 0;
}

#font-container {
  display: grid;
  grid-template-columns: 1fr;
}

#calculator-screen {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr;
}

#calculator-screen > div {
  background-color: #96e4a3;
  border: 1px solid black;
  padding: 0.3em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container > button {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#keys-c {
  grid-column-end: span 3;
  background-color: orange;
}
